{release, {xabber_ws, "0.3.4"}, [xabber_ws]}.
{extended_start_script, true}.
{sys_config, "config/sys.config"}.
{overlay,
  [
    {copy, "config/xabber_ws.config", "config/xabber_ws.config"},
    {copy, "config/accessrules", "config/accessrules"},
    {copy, "xabber_ws.init.example", "bin/xabber_ws.init.example"}
  ]}.
