[
  {xabber_ws,
    [
      {ws_path, "/websocket"},
      {client_path, "/client"},
      {port, 8080},
      {ws_timeout, 300000},
      {dns_timeout, 3000},
      {dns_retries, 3},
      {ssl, false},
      {ssl_port, 8443},
      {ssl_cacertfile, ""},
      {ssl_certfile, ""},
      {ssl_keyfile, ""},
      {allow_all, true}
    ]
  },
  {lager, [
    {handlers, [
      {lager_console_backend, [{level, info}]}
    ]}
  ]}
].