[
  {xabber_ws,
    [
      {ws_path, "/websocket"},
      {client_path, "/client"},
      {port, 8080},
      {ws_timeout, 60000},
      {dns_timeout, 3000},
      {dns_retries, 3},
      {ssl, false},
      {ssl_port, 8443},
      {ssl_cacertfile, ""},
      {ssl_certfile, ""},
      {ssl_keyfile, ""},
      {allow_all, true},
      {ca_file, ""},
      {log_dir, "./logs"},
      {log_file, "xabber_ws.log"},
      {log_level, info},
      {log_max_no_bytes, 5242880},
      {log_max_no_files, 5}
    ]
  }
].
